body, html{
  height:100%;
  background: url(images/meadow2.png);
  background-size: cover
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
a.getInALine {
  padding: 5px 12px;
  float: left;
  color: red;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer {
  position:absolute;
  -webkit-transition: left 2s; /* Safari */
  transition: left 2s;
  /*
  width: 200px;
  height: 200px;
  */
  /*
  border:10px solid red;
  border-radius:10px;
  */
}
